* {
    font-family: 'Arial';
}

.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height:7vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    align-items: center;
    background-color: white;
    color: white;
    border-bottom: 5px double gray;
    margin-top:-10px;

}
  

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {

    margin-right:3rem;
    text-decoration: none;
    color: gray;

    
}

.navbar-links li a:hover {
    color: #063970;
    transform: scale(1.2); /* increases the size of the image by 20% */
    /*box-shadow: 1px 1px 2px #063970; *//* increases the shadow size and opacity */
  
}

main {
    background-image: url("./imgs/background/portrait4.jpg");
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;

    padding: 80px 15px 15px 15px;
    
}

main a {
    font-size: 18px;
  }




.brand-title a {
    font-family: 'Arial';
    font-size: 1.5rem;
    margin-left:1.5rem;
    display: block;
    text-decoration: none;
    color: gray;
    
}

.brand-title a:hover {
    color: #063970;
}




@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

  form {
    padding-left: 20px;
  }

 
  .main-footer-container {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.main-footer-container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}


.footer-nav img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
